{% extends "layout.html" %}

{% block title %}
    Stock quote
{% endblock %}

{% block main %}
    <div>The stock price!</div>
    

     <table class="center">
                    <thead >
                        <tr>
                            <th>Symbol &#160 &#160</th>
                            <th>Company name &#160 &#160</th>
                            <th>Price &#160 &#160</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        <tr>
                            <td>{{ answer.symbol }}</td>
                            <td>{{ answer.name }}</td>
                            <td>{{answer.price | usd}}</td>
                        </tr>

                    </tbody>
    </table>



{% endblock %}