body {
    background-color: #aaaaaa;
    color: #212529;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2;
    margin: 0;
    text-align: left;
}

.main {
    margin-left: auto;
    margin-right: auto;
    margin: 2rem;
    padding-left: 140px;
    padding-right: 15px;
}

.jumbotron {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 3rem 1rem;
    text-align: center;
}

.jumbotron1 {
    background-color: #0000bb;
    color: #fff;
    margin-bottom: 2rem;
    padding: 3rem 1rem;
    text-align: center;
}
.jumbotron2 {
    background-color: #bb0000;
    color: #fff;
    margin-bottom: 2rem;
    padding: 3rem 1rem;
    text-align: center;
}

.jumbotron3 {
    background-color: #00bb00;
    color: #fff;
    margin-bottom: 2rem;
    padding: 3rem 1rem;
    text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

img{
 
  border-radius: 40px;
  width: 480px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 4.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

